* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 100px;
}

main, footer {
    min-width: 320px;
    max-width: 640px;
    margin: auto;
    border: 1px solid red;
}

#container {
    width: 320px;
    margin: auto;
    padding: 10px;
    border: 1px solid blue;
}